{% load static %}
{% block start %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<link rel="stylesheet" href="{% static 'CSS/style2.css' %}">
<div class="content-section col-md-8 col-md-offset-2">
<form method="POST">
	{% csrf_token %}
	<section >
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Login</h2>

              <form>
				<div class="form-outline mb-4">
                  
                  <label class="form-label" for="form3Example1cg">Username</label><br>
				  {{form.username}}
                </div>


                <div class="form-outline mb-4">
					<label class="form-label" for="form3Example1cg">Password</label><br>
					{{form.password}}
				  </div>
                <div class="d-flex justify-content-center">
                  <button type="submit"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Login</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">Have not account yet? <a href="/user/register"
                    class="fw-bold text-body"><u>Register here</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
	<sub><a href="{% url "login" %}" style="text-decoration: none; color: blue; padding:3%; cursor:pointer;">Already have an account ?</a></sub>
</form>
</div>
{% endblock start %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">


